<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

  <title> get it done girl</title>
</head>
<body class="page-2">
  <p class="heading-two">tasks</p>
  <div class="task-container">
    <ul class="tasks-font">
      <% tasks.forEach(function(task) { %>
        <li>
          <a href="/tasks/<%= task._id %>"><%= task.text %></a>
            - 
          <!-- <%= task.done ? 'done' : 'not done' %> -->
          <a href="/tasks/<%= task._id %>/edit">edit</a>
          <form method="POST" action="/tasks/<%= task._id %>?_method=DELETE">
            <button type="submit">x</button>
          </form>
        </li>
      <% }) %>
    </ul>
  </div>
  <a href='tasks/new' class="button"> new </a> 
  <script src="colors.js"></script>
</body>
</html>
